<form>
    <div class="container-fluid">
        <section class="container">
            <div class="container-page">
               
				<div class="col-md-6">
					<h3 class="dark-grey">Dodaj linie</h3>
					
					 <div class="form-group col-lg-12">
                        <label>Nazwa lini</label>
                        <input type="" name="" class="form-control" id="" value="">
                    </div>
					
					  <div class="form-group col-lg-12">
                        <label>Trasa lini</label>
                        <select>
      					<option value="">---Please select---</option> <!-- not selected / blank option -->
      					<option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
     					 <option value="option-2">Option 2</option>
    					</select>
                    </div>
					
					 <div class="form-group col-lg-12">
                        <label>Type</label><br>
                       <select>
      					<option value="">---Please select---</option> <!-- not selected / blank option -->
      					<option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
     					 <option value="option-2">Option 2</option>
    					</select>
                    </div>
                    
                    <div class="form-group col-lg-12">
                        <button type="submit" class="btn btn-primary">Add bus line</button>
                    </div>
				</div>
					
			
            </div>
        </section>
    </div>
</form>